.chats {
    max-width: 700px;
    overflow-y: scroll;
    padding: 8rem;
}

.chats::-webkit-scrollbar {
    display: none;
}

.userDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 0.9rem;
    align-items: flex-end;
}

.gptDiv {
    text-align: left;
    font-size: 0.9rem;

    display: flex;
    flex-direction: column;

    align-items: flex-start;

    overflow-wrap: break-word;

    word-wrap: break-word;

    white-space: pre-wrap;
}



.userMessage {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 15px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-wrap: break-word;

}

.hljs {
    border-radius: 14px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

}

.actions i {
    padding: 6px;
    /* 🔥 ye important */
    border-radius: 50%;
    display: inline-flex;
    /* better control */
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.actions i:hover {
    background-color: #323232;
}

.gptActions {
    display: flex;
    gap: 10px;
    align-self: flex-start;

}

.gptActions i {
    cursor: pointer;
    padding: 6px;
    border-radius: 50%;


}

.gptActions i:hover {
    background-color: #323232;
}

.editBox textarea {
    width: 100%;
    height: 60px;
    /* fixed height */
    resize: none;
    /* user resize na kare */
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #444;
    outline: none;
    background-color: #323232;
    color: white;

    white-space: pre-wrap;
    /* text wrap kare */
    word-wrap: break-word;
    /* long text bhi break ho */
}

.editActions {
    margin-top: 5px;
    display: flex;
    gap: 8px;
}

.editActions button {
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.editActions button:first-child {
    background: black;
    color: white;
}

.editActions button:last-child {
    background: white;
    color: black;
}

.editActions button:last-child:hover {
    border: 1px solid #888;
    background-color: #3a3a3a;
    transform: scale(1.03);
}

.editActions button:first-child:hover {
    transform: scale(1.05) translateY(0px);
}

/* speechBar */

.speechBar {

    position: fixed;
    top: 20px;
    transform: translateX(-50%);
    left: 50%;
    width: 350px;
    background-color: #222;
    padding: 12px 16px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    z-index: 999;
    gap: 8px;

}

.barplayer {
    display: flex;
    align-items: center;
    gap: 10px;

}

.closeIcon {
    cursor: pointer;
    gap: 5px;
}

.closeIcon:hover {
    background-color: #3a3a3a;
    padding: 2px;
    border-radius: 50%;
}

.progressContainer {

    width: 100%;
    height: 4px;
    background-color: #444;
    border-radius: 10px;
    overflow: hidden;
}

.progressFill {

    height: 100%;
    background-color: white;
    width: 0%;
    transition: width 1s linear;
}

.chatFilePreview {
    display: flex;
    align-items: center;
    gap: 6px;

    max-width: 250px;

    padding: 10px 14px;

    border-radius: 14px;

    background-color: rgba(255, 255, 255, 0.08);

    /* margin-bottom: 1px; */
}

.chatFilePreview i {
    font-size: 24px;
}

.chatFileName {
    overflow-x: auto;

    white-space: nowrap;

    font-size: 14px;

    flex: 1;
}

.chatFileName::-webkit-scrollbar {
    display: none;
}

.chatImage {
    width: 120px;
    border-radius: 12px;
}

.imageOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bigImage {
    max-width: 80%;
    max-height: 80%;
    border-radius: 20px;
}